:root {
    --cor-de-fundo: #97820b; 
}

body {
    background-color: var(--cor-de-fundo);
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
}

img {

}