:root {
    --cor-do-header: #EEC759; 
    --cor-do-site: #B4B2AF;
    --cor-secoes: #F8D87F;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--cor-do-site);
}

header {
    background-color: var(--cor-do-header);
    padding: 5px;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.titulo-site {
    font-size: 3rem;
}

.img-titulo {
    margin-right: 25px;
    width: 4%;
    height: 4%;
}

.link-list {
    display: flex;
    font-size: 26px;
}

.link-list a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
}

.sobre-nos {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-secoes);
    border: 1px solid black;
    border-radius: 8px;
    width: 50%;
    padding: 2rem;
    margin: 20px auto;
}

.devenvolvedores h3 {
    margin-top: 10px;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 500;
    font-size: 28px;
    margin-left: 10px;
}

.descricao p {
    margin-left: 20px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.devs p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.sobre-nos h2 {
    margin-top: 10px;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 500;
    font-size: 32px;
}

.devs {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    margin: 0px;
}

.img-dev {
    width: 60%;
    height: 200px;
}

footer {
    background-color: var(--cor-do-header);
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin-bottom: 0px;
    font-family: "Montserrat", sans-serif;
}

footer img{
    width: 3%;
    height: 3%;
}