:root {
    --cor-do-header: #EEC759; 
    --cor-do-site: #B4B2AF;
}

body {
    background-color: var(--cor-do-header);
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.titulo-site {
    font-size: 3rem;
}

.img-titulo {
    margin-right: 25px;
    width: 4%;
    height: 4%;
}

.sobre-nos{
    display: flex;
    background-color: var(--cor-do-site);
    border: 1px solid black;
    border-radius: 8px;
    padding: 2rem
}

.sobre-nos p {
    margin-left: 20px;
}